<!DOCTYPE html>
<html>
<head>
  <title>Communique</title>
  <%= stylesheet_link_tag    "communique/application", :media => "all" %>
  <%= javascript_include_tag "communique/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>
