table.table.table-hover.table-condensed role="presentation"
  = render :partial => 'communique/messages/partials/recipient_based_headings'
  tbody
    = render(@messages) || I18n.t('messages.notices.no_messages')
