li = link_to I18n.t('messages.links.compose'), new_message_path
li = link_to I18n.t('messages.links.inbox') + "(#{@count})", messages_path
li = link_to I18n.t('messages.links.sent'), sent_path
li = link_to I18n.t('messages.links.drafts'), drafts_path
li = link_to I18n.t('messages.links.trash'), trash_path				
