li = link_to "Compose", new_message_path
li = link_to "Inbox (#{@count})", messages_path
li = link_to "Sent Messages", sent_path
li = link_to "Drafts", drafts_path
li = link_to "Trash", trash_path				